.card-container {
  padding: 16px;
  border-radius: 4px;
  width: 326px;
}

.group-task-label-container {
  padding: 2px 8px;
  width: max-content;
  border-radius: 4px;
}

.group-task-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.group-task-deadline {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #404040;
}

.task-container {
  width: 294px;
  padding: 16px;
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  
}

.task-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #404040;
}

.task-progress {
  display: flex;
  justify-content: space-between;
}

.custom-progress-bar {
  background-color: #01959F;
}

.custom-progress-bar-done {
  background-color: #43936C;
}

.progress-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #757575;
}

.btn-setting {
  cursor: pointer;
}

.btn-new-task {
  width: max-content;
  cursor: pointer;
}

.remove-border {
  border: none;
}

.modal-content {
  padding: 24px;
}

.container-progress-input {
  width: 143px;
}

.custom-btn-outline {
  border: 1px solid #E0E0E0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 4px 16px;
  background: #FFFFFF;
}

.custom-btn {
  border: none;
  background: #01959F;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 4px 16px;
  color: #FFFFFF;
}

.custom-btn-danger {
  border: none;
  background: #E11428;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 4px 16px;
  color: #FFFFFF;
}

.modal-footer>* {
  margin: 0;
}

.empty-task-container {
  background: #FAFAFA;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 8px 16px;
}

.empty-task-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

.popover-container {
  padding: 14px 16px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.popover-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 22px;
  cursor: pointer;
}

.popover-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #333333;
}

.popover-label:hover {
  color: #01959F;
}

.delete-hover:hover {
  color: #E11428;
}