.header-container {
  padding: 18px 20px;
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  gap: 10px;
}

.header-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #1E1F21;
}

.group-task-container {
  padding: 24px;
  display: flex;
  gap: 16px;
}

.custom-btn {
  border: none;
  background: #01959F;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 4px 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
}

/* .list-container {
  display: flex;
  font-size: 18px;
  background-color: #eee;
  flex-direction: column;
}
.item-container {
  background-color: #fff;
  border: 1px solid black;
  padding: 25px 70px;
  margin: 15px 50px;
} */