.custom-input-text-area {
  display: block;
  outline: none;
  height: 88px;
  padding: 8px 16px;
  background: #FFFFFF;
  border: 2px solid #E0E0E0;
  border-radius: 8px;
  width: 100%;
}

.custom-input-text-area:focus {
  border: 2px solid #01959F;
}