.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.link-label {
  cursor: pointer;
  color: #43936C;
  text-decoration: underline;
}

.err-label {
  color: #E11428;
  font-size: 14px;
}