.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mr-10 {
  margin-right: 10px;
}

.p-0 {
  padding: 0;
}

.pr-7 {
  padding-right: 7px;
}

.pr-0 {
  padding-right: 0;
}

.pl-0 {
  padding-left: 0;
}